.row {
  text-align: center;
}

.card {
  display: inline-block;
  min-height: 5rem;
  min-width: 5rem;
  border: 1px solid #C89FA3;
  padding: 1px;
  background-color: hsl(3, 37%, 78%);
  cursor: pointer;
  box-sizing: border-box;
}

.card:hover {
  border: 2px dotted #2C1A1D;
}

.card.done {
  cursor: default;
}

.card.done:hover {
  cursor: default;
  box-shadow: none;
  border: 1px solid #C89FA3;
}

.teal {
  background-color: teal;
}
.orange {
  background-color: orange;
}
.hotpink {
  background-color: hotpink;
}
.purple{
  background-color: purple;
}
.maroon {
  background-color: maroon;
}
.green {
  background-color: green;
}
.blue {
  background-color: blue;
}
.yellow {
  background-color: yellow;
}

.color-hidden {
  background-color: hsl(3, 37%, 78%);
}